# Dependencies
node_modules/

# Build output
dist/
.vite/
visual-diff/
public/snapshot/
playwright-report/
test-results/
coverage/
.playwright/
.cache/

# Misc generated
bash.exe.stackdump
package.json.bak


# Env files
.env
.env.*.local

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

