.elementor-7 .elementor-element.elementor-element-7817a2d {
  --display: flex;
  --min-height: 400px;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-7 .elementor-element.elementor-element-4cf9f5b {
  --e-image-carousel-slides-to-show: 1;
}
.elementor-7
  .elementor-element.elementor-element-4cf9f5b
  .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-7
  .elementor-element.elementor-element-4cf9f5b
  .elementor-swiper-button.elementor-swiper-button-next {
  font-size: 35px;
  color: #1565ed;
}
.elementor-7
  .elementor-element.elementor-element-4cf9f5b
  .elementor-swiper-button.elementor-swiper-button-prev
  svg,
.elementor-7
  .elementor-element.elementor-element-4cf9f5b
  .elementor-swiper-button.elementor-swiper-button-next
  svg {
  fill: #1565ed;
}
.elementor-7 .elementor-element.elementor-element-5f74ab2 {
  --display: grid;
  --e-con-grid-template-columns: repeat(3, 1fr);
  --e-con-grid-template-rows: repeat(1, 1fr);
  --grid-auto-flow: row;
  --padding-top: 3vw;
  --padding-bottom: 3vw;
  --padding-left: 5vw;
  --padding-right: 5vw;
}
.elementor-widget-counter .elementor-counter-number-wrapper {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-widget-counter .elementor-counter-title {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-7 .elementor-element.elementor-element-e8e9619 .elementor-counter-number-wrapper {
  color: #fd8f02;
  font-family: var(--e-global-typography-a587c2c-font-family), Sans-serif;
  font-size: var(--e-global-typography-a587c2c-font-size);
  font-weight: var(--e-global-typography-a587c2c-font-weight);
}
.elementor-7 .elementor-element.elementor-element-e8e9619 .elementor-counter-title {
  color: #0f314c;
  font-family: 'Montserrat', Sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
  text-decoration: none;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-7 .elementor-element.elementor-element-ecfcbf1 .elementor-counter-number-wrapper {
  color: #fd8f02;
  font-family: var(--e-global-typography-a587c2c-font-family), Sans-serif;
  font-size: var(--e-global-typography-a587c2c-font-size);
  font-weight: var(--e-global-typography-a587c2c-font-weight);
}
.elementor-7 .elementor-element.elementor-element-ecfcbf1 .elementor-counter-title {
  color: #0f314c;
  font-family: 'Montserrat', Sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
  text-decoration: none;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}
.elementor-7 .elementor-element.elementor-element-008b2ba .elementor-counter-number-wrapper {
  color: #fd8f02;
  font-family: var(--e-global-typography-a587c2c-font-family), Sans-serif;
  font-size: var(--e-global-typography-a587c2c-font-size);
  font-weight: var(--e-global-typography-a587c2c-font-weight);
}
.elementor-7 .elementor-element.elementor-element-008b2ba .elementor-counter-title {
  color: #0f314c;
  font-family: 'Montserrat', Sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
  text-decoration: none;
}
.elementor-7 .elementor-element.elementor-element-5a42f22 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
}
.elementor-7
  .elementor-element.elementor-element-5a42f22:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-5a42f22
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f9fe;
}
.elementor-widget-testimonial-carousel .elementor-testimonial__text {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-testimonial-carousel .elementor-testimonial__name {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-widget-testimonial-carousel .elementor-testimonial__title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-arrows-yes
  .elementor-main-swiper {
  width: calc(100% - 40px);
}
.elementor-7 .elementor-element.elementor-element-7aecdca .elementor-main-swiper {
  width: 100%;
}
.elementor-7 .elementor-element.elementor-element-7aecdca .elementor-swiper-button {
  font-size: 20px;
  color: #000000;
}
.elementor-7 .elementor-element.elementor-element-7aecdca .elementor-swiper-button svg {
  fill: #000000;
}
.elementor-7 .elementor-element.elementor-element-7aecdca .elementor-testimonial__text {
  color: #0f314c;
  font-family: 'Montserrat', Sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
}
.elementor-7 .elementor-element.elementor-element-7aecdca .elementor-testimonial__name {
  color: #0f314c;
  font-family: 'Montserrat', Sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.elementor-7 .elementor-element.elementor-element-7aecdca .elementor-testimonial__image img {
  width: 120px;
  height: 120px;
  border-style: solid;
  border-color: #0f314c;
  border-width: 4px;
}
.elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_left
  .elementor-testimonial__content:after,
.elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_right
  .elementor-testimonial__content:after {
  top: calc(20px + (120px / 2) - 8px);
}
body:not(.rtl)
  .elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_stacked:not(
    .elementor-testimonial--align-center
  ):not(.elementor-testimonial--align-right)
  .elementor-testimonial__content:after,
body:not(.rtl)
  .elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_inline:not(
    .elementor-testimonial--align-center
  ):not(.elementor-testimonial--align-right)
  .elementor-testimonial__content:after,
.elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_stacked.elementor-testimonial--align-left
  .elementor-testimonial__content:after,
.elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_inline.elementor-testimonial--align-left
  .elementor-testimonial__content:after {
  left: calc(20px + (120px / 2) - 8px);
  right: auto;
}
body.rtl
  .elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_stacked:not(
    .elementor-testimonial--align-center
  ):not(.elementor-testimonial--align-left)
  .elementor-testimonial__content:after,
body.rtl
  .elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_inline:not(
    .elementor-testimonial--align-center
  ):not(.elementor-testimonial--align-left)
  .elementor-testimonial__content:after,
.elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_stacked.elementor-testimonial--align-right
  .elementor-testimonial__content:after,
.elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_inline.elementor-testimonial--align-right
  .elementor-testimonial__content:after {
  right: calc(20px + (120px / 2) - 8px);
  left: auto;
}
body:not(.rtl)
  .elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_above:not(
    .elementor-testimonial--align-center
  ):not(.elementor-testimonial--align-right)
  .elementor-testimonial__content:after,
.elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_above.elementor-testimonial--align-left
  .elementor-testimonial__content:after {
  left: calc(20px + (120px / 2) - 8px);
  right: auto;
}
body.rtl
  .elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_above:not(
    .elementor-testimonial--align-center
  ):not(.elementor-testimonial--align-left)
  .elementor-testimonial__content:after,
.elementor-7
  .elementor-element.elementor-element-7aecdca.elementor-testimonial--layout-image_above.elementor-testimonial--align-right
  .elementor-testimonial__content:after {
  right: calc(20px + (120px / 2) - 8px);
  left: auto;
}
.elementor-7 .elementor-element.elementor-element-602ebb6 {
  --display: grid;
  --e-con-grid-template-columns: repeat(2, 1fr);
  --e-con-grid-template-rows: repeat(1, 1fr);
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --grid-auto-flow: row;
  --justify-items: center;
  --align-items: center;
  --padding-top: 0vw;
  --padding-bottom: 0vw;
  --padding-left: 0vw;
  --padding-right: 0vw;
}
.elementor-7
  .elementor-element.elementor-element-602ebb6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-602ebb6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-2bb1587 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --padding-top: 0vw;
  --padding-bottom: 0vw;
  --padding-left: 05vw;
  --padding-right: 05vw;
}
.elementor-7 .elementor-element.elementor-element-adffbe6 {
  --display: flex;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-7 .elementor-element.elementor-element-713c5dc {
  --display: flex;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-7 .elementor-element.elementor-element-88dbbc7 {
  padding: 0px 0px 0px 0px;
  font-family: 'Montserrat', Sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  color: #fd8f02;
}
.elementor-7 .elementor-element.elementor-element-88dbbc7 p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-1fe33fe {
  font-family: 'Montserrat', Sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 70px;
  color: #007fe3;
}
.elementor-7 .elementor-element.elementor-element-1fe33fe p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-2ea3a8a {
  font-family: var(--e-global-typography-097e972-font-family), Sans-serif;
  font-size: var(--e-global-typography-097e972-font-size);
  font-weight: var(--e-global-typography-097e972-font-weight);
  color: #536288;
}
.elementor-7 .elementor-element.elementor-element-2ea3a8a p {
  margin-block-end: 0px;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-7 .elementor-element.elementor-element-d063df0 .elementor-button {
  background-color: #fd8f02;
  font-family: 'Montserrat', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 6px 6px 6px 6px;
  padding: 16px 32px 16px 32px;
}
.elementor-7 .elementor-element.elementor-element-d063df0 {
  padding: 0px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-d063df0 .elementor-button-content-wrapper {
  flex-direction: row-reverse;
}
.elementor-7
  .elementor-element.elementor-element-d063df0
  .elementor-button
  .elementor-button-content-wrapper {
  gap: 10px;
}
.elementor-7 .elementor-element.elementor-element-794cb82 {
  --display: flex;
  --min-height: 420px;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-7 .elementor-element.elementor-element-4b8b2f7 .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-7 .elementor-element.elementor-element-a760d36 {
  --display: flex;
  --padding-top: 2vw;
  --padding-bottom: 2vw;
  --padding-left: 5vw;
  --padding-right: 5vw;
}
.elementor-7
  .elementor-element.elementor-element-a760d36:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-a760d36
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f9fe;
}
.elementor-7 .elementor-element.elementor-element-4925059 {
  padding: 0px 0px 0px 0px;
  text-align: center;
  font-family: var(--e-global-typography-a587c2c-font-family), Sans-serif;
  font-size: var(--e-global-typography-a587c2c-font-size);
  font-weight: var(--e-global-typography-a587c2c-font-weight);
  color: #007fe3;
}
.elementor-7 .elementor-element.elementor-element-4925059 p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-9f12614 {
  text-align: center;
  font-family: var(--e-global-typography-097e972-font-family), Sans-serif;
  font-size: var(--e-global-typography-097e972-font-size);
  font-weight: var(--e-global-typography-097e972-font-weight);
  color: #041ca7;
}
.elementor-7 .elementor-element.elementor-element-9f12614 p {
  margin-block-end: 0px;
}
.elementor-widget-eael-post-grid .eael-meta-posted-on {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-eael-post-grid .eael-entry-meta > span {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-eael-post-grid .eael-entry-title,
.elementor-widget-eael-post-grid .eael-entry-title a {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-widget-eael-post-grid .eael-grid-post-excerpt p {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-eael-post-grid .post-meta-categories li,
.elementor-widget-eael-post-grid .post-meta-categories li a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-7 .elementor-element.elementor-element-29cb4dde .eael-post-elements-readmore-btn {
  background-color: #fd8f02;
  text-align: center;
  font-family: 'Montserrat', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  border-radius: 6px 6px 6px 6px;
  padding: 16px 32px 16px 32px;
  margin: 20px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-29cb4dde .eael-grid-post-holder {
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 10px 0px rgba(28.99999999999999, 78.00000000000011, 189, 0.1);
}
.elementor-7 .elementor-element.elementor-element-29cb4dde .eael-entry-title a {
  color: #303133;
}
.elementor-7 .elementor-element.elementor-element-29cb4dde .eael-entry-title:hover,
.elementor-7 .elementor-element.elementor-element-29cb4dde .eael-entry-title a:hover {
  color: #23527c;
}
.elementor-7 .elementor-element.elementor-element-29cb4dde .eael-entry-title,
.elementor-7 .elementor-element.elementor-element-29cb4dde .eael-entry-title a {
  font-family: 'Montserrat', Sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
.elementor-7 .elementor-element.elementor-element-29cb4dde .eael-grid-post .eael-entry-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}
.elementor-7 .elementor-element.elementor-element-29cb4dde .eael-grid-post .eael-entry-overlay > i {
  color: #ffffff;
  font-size: 18px;
}
.elementor-7
  .elementor-element.elementor-element-29cb4dde
  .eael-grid-post
  .eael-entry-overlay
  > img {
  height: 18px;
  width: 18px;
}
.elementor-7 .elementor-element.elementor-element-93246cf .elementor-button {
  background-color: #ffffff;
  font-family: 'Montserrat', Sans-serif;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  fill: #fd8f02;
  color: #fd8f02;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #fd8f02;
  padding: 16px 16px 16px 16px;
}
.elementor-7 .elementor-element.elementor-element-74849ec {
  --display: flex;
  --padding-top: 2vw;
  --padding-bottom: 2vw;
  --padding-left: 5vw;
  --padding-right: 5vw;
}
.elementor-7
  .elementor-element.elementor-element-74849ec:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-74849ec
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-b411a07 {
  text-align: center;
  font-family: var(--e-global-typography-a587c2c-font-family), Sans-serif;
  font-size: var(--e-global-typography-a587c2c-font-size);
  font-weight: var(--e-global-typography-a587c2c-font-weight);
  color: #007fe3;
}
.elementor-7 .elementor-element.elementor-element-b411a07 p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-c2cfaa0 {
  text-align: center;
  font-family: var(--e-global-typography-097e972-font-family), Sans-serif;
  font-size: var(--e-global-typography-097e972-font-size);
  font-weight: var(--e-global-typography-097e972-font-weight);
  color: #041ca7;
}
.elementor-7 .elementor-element.elementor-element-c2cfaa0 p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-22596333 .eael-post-elements-readmore-btn {
  background-color: #fd8f02;
  text-align: center;
  font-family: 'Montserrat', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  border-radius: 6px 6px 6px 6px;
  padding: 16px 32px 16px 32px;
  margin: 20px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-22596333 .eael-grid-post-holder {
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 10px 0px rgba(28.99999999999999, 78.00000000000011, 189, 0.1);
}
.elementor-7 .elementor-element.elementor-element-22596333 .eael-entry-title a {
  color: #303133;
}
.elementor-7 .elementor-element.elementor-element-22596333 .eael-entry-title:hover,
.elementor-7 .elementor-element.elementor-element-22596333 .eael-entry-title a:hover {
  color: #23527c;
}
.elementor-7 .elementor-element.elementor-element-22596333 .eael-entry-title,
.elementor-7 .elementor-element.elementor-element-22596333 .eael-entry-title a {
  font-family: 'Montserrat', Sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
.elementor-7 .elementor-element.elementor-element-22596333 .eael-grid-post-excerpt p {
  font-family: 'Montserrat', Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.elementor-7 .elementor-element.elementor-element-22596333 .eael-grid-post .eael-entry-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}
.elementor-7 .elementor-element.elementor-element-22596333 .eael-grid-post .eael-entry-overlay > i {
  color: #ffffff;
  font-size: 18px;
}
.elementor-7
  .elementor-element.elementor-element-22596333
  .eael-grid-post
  .eael-entry-overlay
  > img {
  height: 18px;
  width: 18px;
}
.elementor-7 .elementor-element.elementor-element-693bc25 .elementor-button {
  background-color: #ffffff;
  font-family: 'Montserrat', Sans-serif;
  font-weight: 700;
  text-transform: none;
  fill: #1e5dbc;
  color: #1e5dbc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #1e5dbc;
  padding: 16px 16px 16px 16px;
}
.elementor-7 .elementor-element.elementor-element-565ec1b {
  --display: flex;
  --padding-top: 2vw;
  --padding-bottom: 2vw;
  --padding-left: 5vw;
  --padding-right: 5vw;
}
.elementor-7
  .elementor-element.elementor-element-565ec1b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-565ec1b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f9fe;
}
.elementor-7 .elementor-element.elementor-element-c189ece {
  padding: 0px 0px 0px 0px;
  text-align: center;
  font-family: var(--e-global-typography-a587c2c-font-family), Sans-serif;
  font-size: var(--e-global-typography-a587c2c-font-size);
  font-weight: var(--e-global-typography-a587c2c-font-weight);
  color: #007fe3;
}
.elementor-7 .elementor-element.elementor-element-c189ece p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-3e3d115 {
  text-align: center;
  font-family: var(--e-global-typography-097e972-font-family), Sans-serif;
  font-size: var(--e-global-typography-097e972-font-size);
  font-weight: var(--e-global-typography-097e972-font-weight);
  color: #0f2f64;
}
.elementor-7 .elementor-element.elementor-element-3e3d115 p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-39714f8 .eael-post-elements-readmore-btn {
  background-color: #fd8f02;
  text-align: center;
  font-family: 'Montserrat', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  border-radius: 6px 6px 6px 6px;
  padding: 16px 32px 16px 32px;
  margin: 20px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-39714f8 .eael-grid-post-holder {
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 10px 0px rgba(28.99999999999999, 78.00000000000011, 189, 0.1);
}
.elementor-7 .elementor-element.elementor-element-39714f8 .eael-entry-title a {
  color: #303133;
}
.elementor-7 .elementor-element.elementor-element-39714f8 .eael-entry-title:hover,
.elementor-7 .elementor-element.elementor-element-39714f8 .eael-entry-title a:hover {
  color: #23527c;
}
.elementor-7 .elementor-element.elementor-element-39714f8 .eael-entry-title,
.elementor-7 .elementor-element.elementor-element-39714f8 .eael-entry-title a {
  font-family: 'Montserrat', Sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
.elementor-7 .elementor-element.elementor-element-39714f8 .eael-grid-post .eael-entry-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}
.elementor-7 .elementor-element.elementor-element-39714f8 .eael-grid-post .eael-entry-overlay > i {
  color: #ffffff;
  font-size: 18px;
}
.elementor-7
  .elementor-element.elementor-element-39714f8
  .eael-grid-post
  .eael-entry-overlay
  > img {
  height: 18px;
  width: 18px;
}
.elementor-7 .elementor-element.elementor-element-9fbc133 .elementor-button {
  background-color: #ffffff;
  font-family: 'Montserrat', Sans-serif;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  fill: #fd8f02;
  color: #fd8f02;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #fd8f02;
  padding: 16px 16px 16px 16px;
}
.elementor-7 .elementor-element.elementor-element-b19e288 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --padding-top: 02vw;
  --padding-bottom: 2vw;
  --padding-left: 5vw;
  --padding-right: 5vw;
}
.elementor-7
  .elementor-element.elementor-element-b19e288:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-b19e288
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-5075c95 {
  --display: flex;
  --margin-top: 0vw;
  --margin-bottom: 0vw;
  --margin-left: 0vw;
  --margin-right: 0vw;
  --padding-top: 0vw;
  --padding-bottom: 0vw;
  --padding-left: 0vw;
  --padding-right: 0vw;
}
.elementor-7 .elementor-element.elementor-element-db6d60c {
  text-align: center;
  font-family: var(--e-global-typography-a587c2c-font-family), Sans-serif;
  font-size: var(--e-global-typography-a587c2c-font-size);
  font-weight: var(--e-global-typography-a587c2c-font-weight);
  color: #007fe3;
}
.elementor-7 .elementor-element.elementor-element-db6d60c p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-3dfa5cfb {
  text-align: center;
  font-family: var(--e-global-typography-097e972-font-family), Sans-serif;
  font-size: var(--e-global-typography-097e972-font-size);
  font-weight: var(--e-global-typography-097e972-font-weight);
  color: #041ca7;
}
.elementor-7 .elementor-element.elementor-element-3dfa5cfb p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-b5e3901 .eael-post-elements-readmore-btn {
  background-color: #fd8f02;
  text-align: center;
  font-family: 'Montserrat', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  border-radius: 6px 6px 6px 6px;
  padding: 16px 32px 16px 32px;
  margin: 20px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-b5e3901 .eael-grid-post-holder {
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 10px 0px rgba(28.99999999999999, 78.00000000000011, 189, 0.1);
}
.elementor-7 .elementor-element.elementor-element-b5e3901 .eael-entry-title a {
  color: #303133;
}
.elementor-7 .elementor-element.elementor-element-b5e3901 .eael-entry-title:hover,
.elementor-7 .elementor-element.elementor-element-b5e3901 .eael-entry-title a:hover {
  color: #23527c;
}
.elementor-7 .elementor-element.elementor-element-b5e3901 .eael-entry-title,
.elementor-7 .elementor-element.elementor-element-b5e3901 .eael-entry-title a {
  font-family: 'Montserrat', Sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
.elementor-7 .elementor-element.elementor-element-b5e3901 .eael-grid-post .eael-entry-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}
.elementor-7 .elementor-element.elementor-element-b5e3901 .eael-grid-post .eael-entry-overlay > i {
  color: #ffffff;
  font-size: 18px;
}
.elementor-7
  .elementor-element.elementor-element-b5e3901
  .eael-grid-post
  .eael-entry-overlay
  > img {
  height: 18px;
  width: 18px;
}
.elementor-7 .elementor-element.elementor-element-a9bace7 .elementor-button {
  background-color: #ffffff;
  font-family: 'Montserrat', Sans-serif;
  font-weight: 700;
  text-transform: none;
  fill: #1e5dbc;
  color: #1e5dbc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #1e5dbc;
  padding: 16px 16px 16px 16px;
}
.elementor-7 .elementor-element.elementor-element-0a2bba7 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --padding-top: 3vw;
  --padding-bottom: 3vw;
  --padding-left: 5vw;
  --padding-right: 5vw;
}
.elementor-7
  .elementor-element.elementor-element-0a2bba7:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-0a2bba7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0f314c;
}
.elementor-7 .elementor-element.elementor-element-e0dead1 {
  text-align: center;
  font-family: var(--e-global-typography-a587c2c-font-family), Sans-serif;
  font-size: var(--e-global-typography-a587c2c-font-size);
  font-weight: var(--e-global-typography-a587c2c-font-weight);
  color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-e0dead1 p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-d196c1b {
  --display: grid;
  --e-con-grid-template-columns: repeat(5, 1fr);
  --e-con-grid-template-rows: repeat(1, 1fr);
  --grid-auto-flow: row;
}
.elementor-7 .elementor-element.elementor-element-1ac470a {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --border-radius: 10px 10px 10px 10px;
  --padding-top: 24px;
  --padding-bottom: 24px;
  --padding-left: 24px;
  --padding-right: 024px;
}
.elementor-7
  .elementor-element.elementor-element-1ac470a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-1ac470a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-7 .elementor-element.elementor-element-f0bd1e8 {
  text-align: center;
  font-family: var(--e-global-typography-097e972-font-family), Sans-serif;
  font-size: var(--e-global-typography-097e972-font-size);
  font-weight: var(--e-global-typography-097e972-font-weight);
  color: #0f314c;
}
.elementor-7 .elementor-element.elementor-element-f0bd1e8 p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-b1dba82 {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --border-radius: 10px 10px 10px 10px;
  --padding-top: 24px;
  --padding-bottom: 24px;
  --padding-left: 24px;
  --padding-right: 024px;
}
.elementor-7
  .elementor-element.elementor-element-b1dba82:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-b1dba82
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-010325b {
  text-align: center;
  font-family: var(--e-global-typography-097e972-font-family), Sans-serif;
  font-size: var(--e-global-typography-097e972-font-size);
  font-weight: var(--e-global-typography-097e972-font-weight);
  color: #0f314c;
}
.elementor-7 .elementor-element.elementor-element-010325b p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-2f3a16a {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --border-radius: 10px 10px 10px 10px;
  --padding-top: 24px;
  --padding-bottom: 24px;
  --padding-left: 24px;
  --padding-right: 024px;
}
.elementor-7
  .elementor-element.elementor-element-2f3a16a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-2f3a16a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-963bcd2 {
  text-align: center;
  font-family: var(--e-global-typography-097e972-font-family), Sans-serif;
  font-size: var(--e-global-typography-097e972-font-size);
  font-weight: var(--e-global-typography-097e972-font-weight);
  color: #0f314c;
}
.elementor-7 .elementor-element.elementor-element-963bcd2 p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-45e881c {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --border-radius: 10px 10px 10px 10px;
  --padding-top: 24px;
  --padding-bottom: 24px;
  --padding-left: 24px;
  --padding-right: 024px;
}
.elementor-7
  .elementor-element.elementor-element-45e881c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-45e881c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-0aad957 {
  text-align: center;
  font-family: var(--e-global-typography-097e972-font-family), Sans-serif;
  font-size: var(--e-global-typography-097e972-font-size);
  font-weight: var(--e-global-typography-097e972-font-weight);
  color: #0f314c;
}
.elementor-7 .elementor-element.elementor-element-0aad957 p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-0c71604 {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --border-radius: 10px 10px 10px 10px;
  --padding-top: 24px;
  --padding-bottom: 24px;
  --padding-left: 24px;
  --padding-right: 024px;
}
.elementor-7
  .elementor-element.elementor-element-0c71604:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-0c71604
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-75c4e1c {
  text-align: center;
  font-family: var(--e-global-typography-097e972-font-family), Sans-serif;
  font-size: var(--e-global-typography-097e972-font-size);
  font-weight: var(--e-global-typography-097e972-font-weight);
  color: #0f314c;
}
.elementor-7 .elementor-element.elementor-element-75c4e1c p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-04600ba {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-7 .elementor-element.elementor-element-5e9ce5b .elementor-button {
  background-color: #ffffff;
  font-family: 'Montserrat', Sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  fill: #fd8f02;
  color: #fd8f02;
  padding: 16px 16px 16px 16px;
}
.elementor-7 .elementor-element.elementor-element-710b723 {
  --display: flex;
  --min-height: 469px;
  --padding-top: 2vw;
  --padding-bottom: 2vw;
  --padding-left: 5vw;
  --padding-right: 5vw;
}
.elementor-7 .elementor-element.elementor-element-d34242a {
  text-align: center;
  font-family: var(--e-global-typography-a587c2c-font-family), Sans-serif;
  font-size: var(--e-global-typography-a587c2c-font-size);
  font-weight: var(--e-global-typography-a587c2c-font-weight);
  color: #007fe3;
}
.elementor-7 .elementor-element.elementor-element-d34242a p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-fd9766b {
  text-align: center;
  font-family: var(--e-global-typography-097e972-font-family), Sans-serif;
  font-size: var(--e-global-typography-097e972-font-size);
  font-weight: var(--e-global-typography-097e972-font-weight);
  color: #0f2f64;
}
.elementor-7 .elementor-element.elementor-element-fd9766b p {
  margin-block-end: 0px;
}
.elementor-7 .elementor-element.elementor-element-c408f88 {
  --display: flex;
  --min-height: 420px;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-evenly;
  --gap: 0px 50px;
  --row-gap: 0px;
  --column-gap: 50px;
  --border-radius: 12px 12px 12px 12px;
}
.elementor-7 .elementor-element.elementor-element-1507ae5 {
  --display: flex;
  --min-height: 400px;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --border-radius: 12px 12px 12px 12px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-7
  .elementor-element.elementor-element-1507ae5:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7
  .elementor-element.elementor-element-1507ae5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url('../images/b359ed73-8519-4087-b61e-9f809fb6d174.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-7 .elementor-element.elementor-element-6552293 {
  width: var(--container-widget-width, 50%);
  max-width: 50%;
  --container-widget-width: 50%;
  --container-widget-flex-grow: 0;
}
@media (max-width: 1024px) {
  .elementor-7 .elementor-element.elementor-element-5f74ab2 {
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --grid-auto-flow: row;
    --padding-top: 2vw;
    --padding-bottom: 2vw;
    --padding-left: 2vw;
    --padding-right: 2vw;
  }
  .elementor-7 .elementor-element.elementor-element-e8e9619 .elementor-counter-number-wrapper {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-ecfcbf1 .elementor-counter-number-wrapper {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-008b2ba .elementor-counter-number-wrapper {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-602ebb6 {
    --e-con-grid-template-columns: repeat(1, 1fr);
    --gap: 26px 0px;
    --row-gap: 26px;
    --column-gap: 0px;
    --grid-auto-flow: row;
    --justify-items: center;
    --align-items: center;
    --padding-top: 3vw;
    --padding-bottom: 3vw;
    --padding-left: 3vw;
    --padding-right: 3vw;
  }
  .elementor-7 .elementor-element.elementor-element-602ebb6.e-con {
    --align-self: center;
  }
  .elementor-7 .elementor-element.elementor-element-88dbbc7 {
    font-size: 36px;
  }
  .elementor-7 .elementor-element.elementor-element-1fe33fe {
    font-size: 36px;
  }
  .elementor-7 .elementor-element.elementor-element-2ea3a8a {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-4925059 {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-9f12614 {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-b411a07 {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-c2cfaa0 {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-c189ece {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-3e3d115 {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-db6d60c {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-3dfa5cfb {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-0a2bba7 {
    --padding-top: 5vw;
    --padding-bottom: 5vw;
    --padding-left: 5vw;
    --padding-right: 5vw;
  }
  .elementor-7 .elementor-element.elementor-element-e0dead1 {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-d196c1b {
    --e-con-grid-template-columns: repeat(1, 1fr);
    --grid-auto-flow: row;
  }
  .elementor-7 .elementor-element.elementor-element-f0bd1e8 {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-010325b {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-963bcd2 {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-0aad957 {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-75c4e1c {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-d34242a {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-fd9766b {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-c408f88 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
  }
  .elementor-7 .elementor-element.elementor-element-6552293 {
    margin: 20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .elementor-7 .elementor-element.elementor-element-5f74ab2 {
    --e-con-grid-template-columns: repeat(1, 1fr);
    --e-con-grid-template-rows: repeat(3, 1fr);
    --grid-auto-flow: row;
  }
  .elementor-7 .elementor-element.elementor-element-e8e9619 .elementor-counter-number-wrapper {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-e8e9619 .elementor-counter-title {
    font-size: 14px;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
  }
  .elementor-7 .elementor-element.elementor-element-ecfcbf1 .elementor-counter {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .elementor-7 .elementor-element.elementor-element-ecfcbf1 .elementor-counter-number-wrapper {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-ecfcbf1 .elementor-counter-title {
    font-size: 14px;
  }
  .elementor-7 .elementor-element.elementor-element-008b2ba .elementor-counter-number-wrapper {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-008b2ba .elementor-counter-title {
    font-size: 14px;
  }
  .elementor-7 .elementor-element.elementor-element-602ebb6 {
    --e-con-grid-template-columns: repeat(1, 1fr);
    --e-con-grid-template-rows: repeat(1, 1fr);
    --gap: 32px 0px;
    --row-gap: 32px;
    --column-gap: 0px;
    --grid-auto-flow: row;
  }
  .elementor-7 .elementor-element.elementor-element-88dbbc7 {
    font-size: 24px;
  }
  .elementor-7 .elementor-element.elementor-element-1fe33fe {
    padding: 0px 0px 0px 0px;
    font-size: 20px;
  }
  .elementor-7 .elementor-element.elementor-element-1fe33fe p {
    margin-block-end: 0px;
  }
  .elementor-7 .elementor-element.elementor-element-2ea3a8a {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-794cb82 {
    --min-height: 420px;
  }
  .elementor-7 .elementor-element.elementor-element-4925059 {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-9f12614 {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-74849ec {
    --padding-top: 5vw;
    --padding-bottom: 5vw;
    --padding-left: 5vw;
    --padding-right: 5vw;
  }
  .elementor-7 .elementor-element.elementor-element-b411a07 {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-c2cfaa0 {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-c189ece {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-3e3d115 {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-db6d60c {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-3dfa5cfb {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-e0dead1 {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-d196c1b {
    --e-con-grid-template-columns: repeat(1, 1fr);
    --grid-auto-flow: row;
  }
  .elementor-7 .elementor-element.elementor-element-f0bd1e8 {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-010325b {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-963bcd2 {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-0aad957 {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-75c4e1c {
    font-size: var(--e-global-typography-097e972-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-d34242a {
    font-size: var(--e-global-typography-a587c2c-font-size);
  }
  .elementor-7 .elementor-element.elementor-element-fd9766b {
    font-size: var(--e-global-typography-097e972-font-size);
  }
}
@media (min-width: 768px) {
  .elementor-7 .elementor-element.elementor-element-5a42f22 {
    --width: 100%;
  }
  .elementor-7 .elementor-element.elementor-element-1507ae5 {
    --width: 50%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-7 .elementor-element.elementor-element-1507ae5 {
    --width: 100%;
  }
} /* Start custom CSS for container, class: .elementor-element-7817a2d */
.image-carousel img {
  max-height: 75vh;
  min-height: 75vh;
  max-width: 1000px !important;
  object-fit: cover;
} /* End custom CSS */
/* Start custom CSS for eael-post-grid, class: .elementor-element-22596333 */
.international-contest a {
  width: 100% !important;
} /* End custom CSS */
